testPerso/premier essai.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Film">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="personnage">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="nom" type="xs:string" />
							<xs:element name="prenom" type="xs:string" />
							<xs:element name="acteur" type="xs:string" />
						</xs:sequence>
						<xs:attribute name="metier" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attribute name="titre" use="required" />
		</xs:complexType>
	</xs:element>
</xs:schema>